@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel" data-bs-theme="light">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/dd2.jpg" class="d-block w-100" alt="dungeons&dragons image 1">
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Bienvenido</h1>
                    <p class="opacity-75">Tu sistema de gestión de partidas de rol.</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/dd6.jpg" class="d-block w-100" alt="dungeons&dragons image 2">
            <div class="container">
                <div class="carousel-caption" syle="color:black;">
                    <p>Aquí podrás llevar un seguimiento de tus partidas</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/dd1.jpg" class="d-block w-100" alt="dungeons&dragons image 3">
            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>Para cualquier nivel y tipo de jugador</h1>
                    <p>Tanto si juegas alguna partida ocasional como si pasas los fines de semana roleando</p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Simplicidad. <span class="text-body-secondary">Para qué más.</span></h2>
            <p class="lead">Role Tracker es una herramienta simple para gestionar tus partidas de rol. Muchas veces no necesitas pesadas aplicaciones con hojas de personajes, hechizos, wikis... es suficiente con un seguimiento de tus partidas y personajes.</p>
        </div>
        <div class="col-md-5">
            <img src="~/images/dd_puente.jpg" class="d-block w-100" alt="dungeons&dragons image 1">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-body-secondary">See for yourself.</span></h2>
            <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="~/images/dd_enano.jpg" class="d-block w-100" alt="dungeons&dragons image 1">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Y mucho más. <span class="text-body-secondary">Checkmate.</span></h2>
            <p class="lead">Próximamente se añadirán módulo opcionales para todos aquellos que necesitéis más potencia. Podréis disfutar de herramientas como un gestor de mapas, hojas de personajes, estadísiticas avanzadas, comunicación en vivo, visualización de mapas y mucho más.</p>
        </div>
        <div class="col-md-5">
            <img src="~/images/dd_gigante.jpg" class="d-block w-100" alt="dungeons&dragons image 1">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->